%main.bg-night-500.text-storm-100
  .container
    %section.py-28
      %h1.text-center.mb-6 Documentation
      .flex.justify-center
        %p.text-center.text-lg.max-w-4xl Перед вами учебник по JavaScript, начиная с основ, включающий в себя много тонкостей и фишек JavaScript/DOM.
    %section.pb-9
      %h3.text-2xl.mb-4 Основы языка программирования C++
      .bg-night-400.p-6.rounded
        %ul.text-lg.flex.flex-col.grid.grid-cols-2.gap-x-6.gap-y-2
          %li
            %a{:href => "/navigation/vars"} Переменные
          %li
            %a{:href => ""} Типы данных
          %li
            %a{:href => ""} Статическая типизация и преобразования типов
          %li
            %a{:href => ""} Константы
          %li
            %a{:href => ""} Арифметические операции
          %li
            %a{:href => ""} Условные выражения
          %li
            %a{:href => ""} Побитовые операции
          %li
            %a{:href => ""} Операции присваивания

    %section.pb-9
      %h3.text-2xl.mb-4 Функции
      .bg-night-400.p-6.rounded
        %ul.text-lg.flex.flex-col.grid.grid-cols-2.gap-x-6.gap-y-2
          %li
            %a{:href => ""} Определение и объявление функций
          %li
            %a{:href => ""} Параметры функции
          %li
            %a{:href => ""} Передача аргументов по значению и по ссылке
          %li
            %a{:href => ""} Константные параметры
          %li
            %a{:href => ""} Рекурсивные функции
          %li
            %a{:href => ""} Область видимости объектов
          %li
            %a{:href => ""} Разделение программы на файлы
          %li
            %a{:href => ""} Внешние объекты

  %svg{:viewbox => "0 0 1920 250", :xmlns => "http://www.w3.org/2000/svg"}
    %path#wavefooter1{:d => "M1920 250H0V0s126.707 78.536 349.975 80.05c177.852 1.203 362.805-63.874 553.803-63.874 290.517 0 383.458 57.712 603.992 61.408 220.527 3.696 278.059-61.408 412.23-17.239"}
    %path#wavefooter2{:d => "M1920 144s-467.917 116.857-1027.243-17.294C369.986 1.322 0 45.578 0 45.578V250h1920V144z"}
    %path#wavefooter3{:d => "M0 195.553s208.547-75.581 701.325-20.768c376.707 41.908 520.834-67.962 722.545-67.962 222.926 0 311.553 83.523 496.129 86.394V250H0v-54.447z"}
