%main.bg-night-500.text-storm-100
  .container
    %section.py-28
      %h1.text-center.mb-6 QT Фреймворк
      .flex.justify-center
        %p.text-center.text-lg.max-w-4xl Краткое введение в QT фреймворк
    %section.pb-9
      %h3.text-2xl.mb-4 Краткое введение
      .bg-night-400.p-6.rounded
        %ul.text-lg.grid.grid-cols-2.gap-x-6.gap-y-2
          %li
            %a{:href => ""} Введение в Qt
          %li
            %a{:href => ""} Установка SDK Qt
          %li
            %a{:href => ""} Возможности Qt Creator
          %li
            %a{:href => ""} Как компилируется программа Qt
          %li
            %a{:href => ""} Иерархия классов Qt
          %li
            %a{:href => ""} Подкласс QWidget
          %li
            %a{:href => ""} Передача информации
          %li
            %a{:href => ""} Важные макросы
          %li
            %a{:href => ""} Создание пользовательских сигналов и слотов
          %li
            %a{:href => ""} Виджеты
