%footer.p-4.bg-night-300.text-storm-300
  .container
    .sm:flex.sm:items-center.sm:justify-between
      %a.flex.items-center.mb-0.hover:underline{:href => "/"}
        %span.text-xl.font-semibold Современный учебник по C++
      %ul.flex.text-sm.text-storm-200.font-bold
        %li
          %a.mr-4.hover:underline{:href => "/about_site"} О сайте
        %li
          %a.mr-4.hover:underline{:href => "#"} Политика конфиденциальности
        %li
          %a.mr-4.hover:underline{:href => "/contact_me"} Свяжитесь со мной
    %hr.mb-6.mt-4.pb-4/
    %span.block.text-sm.text-storm-400.text-center.pb-8
      %a.hover:underline{:href => ""} © 2022 Евгений Ефименко
