%footer.p-4.bg-night-300.text-storm-300
  .container
    .sm:flex.sm:items-center.sm:justify-between
      %a.flex.items-center.mb-0.hover:underline{:href => ""}
        %span.text-xl.font-semibold Современный учебник по C++
      %ul.flex.text-sm.text-storm-200.font-bold
        %li
          %a.mr-4.hover:underline{:href => "#"} About
        %li
          %a.mr-4.hover:underline{:href => "#"} Privacy Policy
        %li
          %a.mr-4.hover:underline{:href => "#"} Licensing
        %li
          %a.hover:underline{:href => "#"} Contact
    %hr.my-6/
    %span.block.text-sm.text-storm-400.text-center.pb-8
      %a.hover:underline{:href => ""} © 2022 Something here
