@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply max-w-6xl mx-auto;
}

h1 {
	@apply text-4xl mb-3;
}

h2 {
	@apply text-3xl;
}

#search {
	@apply py-1;
}

select {
	@apply rounded bg-night-100 block text-storm-400 px-4 py-2;
}

option {
	@apply hover:bg-storm-100;
}

textarea:focus, input:focus{
    outline: none;
}

form textarea {
	@apply resize-none;
}

form button {
	@apply  py-2;
}

form textarea, form input, form button {
	@apply rounded bg-night-100 block text-storm-400 px-4 transition-all;
}

#contact-form input, #contact-form textarea {
	@apply py-2;
}

#contact-form label {
	@apply mb-4 block;
}

#contact-form input {
	@apply mt-2;
}

.bottom-n-1 {
	bottom: -1px;
}

#contact-form textarea {
	@apply py-4 px-6 mt-2 transition-all;
}

.importanthui {
	padding: 30px !important;
}

form button {
	@apply hover:border-white;
}

ul li {
	display: inline-block;
}

#wavefooter1 {
	fill: rgb(55, 61, 76);
}

#wavefooter2 {
	fill: rgb(57, 64, 79);
}

#wavefooter3 {
	fill: rgb(59, 66, 82);
}

li a {
	@apply p-2 hover:bg-night-300 block rounded;
}
